header {
    margin-top: -100px;
}
#container {
    display: flex;
    font-family: 'roboto';
    margin-top: 100px;
}
#spans {
    height: 100px;
}
#left {
    width: 50%;
    color: white;
    padding-left: 55px;
    padding-top: 100px;
    vertical-align: middle;
}
#HTML {
    color: orangered;
}
#CSS {
color:lightblue ;
}

#paragraf {
    margin-top: 40px;
    font-size: 1.25rem;
}
#paragraf p:nth-child(even) {
    margin-top: 20px;
}
#FNP {
    color: #341270;
} 
#right {
    height: 90vh;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 85%;
    height: 85%;
}

#buttons {
padding-left: 20px;
height: 200px;
}
button {
    border-radius: 30px;
    height: 60px;
    width: 200px;
    font-family: 'roboto';
    border: none;
    color: white;
    background-color: #47126b;
    font-size: 1.0rem;
    margin-top: 50px;
    cursor: url(Link\ Select.cur), pointer;
    transition: 0.5s ease-in-out;
    margin-left: 25px;
    box-shadow: 0px 0px 20px #7b2cbf;
}
button:hover {
    scale: 1.1;
    transition: 0.5s ease-in-out;
}
#navbar {
    margin-top: 100px;
    position: fixed;
    right: 0;
    padding: 70px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: 10px;
    width: 300px;
    height: 100vh;
    z-index: 100;
    transform: translateX(300px);
    transition: 0.5s ease-in-out;
}

#navbar.open {
    transition: 0.5s ease-in-out;
    transform: translateX(0px);
}

#navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'poppins';
}

#navbar li {
    margin-top: 25px;
}
footer {
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
}
footer a {
    color: white;
}
footer i {
    margin-left: 25px;
    font-size: 3rem;
    transition: 0.5s ease-in-out;
    }
footer i:hover {
    color: #7b2cbf;
    scale: 1.1;
}