@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    position: relative;
    min-height: 100vh;
    cursor: url("Normal\ Select.cur"), default;
    background: linear-gradient(to bottom,#000, #10002b);
}
header {
    display: flex;
    justify-content: space-between;
    z-index: 10;
    height: 15vh;
    position: fixed;
    width: 100%;
    align-items: center;
    font-family: 'poppins';
}
header li {
    display: inline-block;
    margin-left: 25px;
    font-size: 1.5rem;

}
a {
    cursor: url(Link\ Select.cur), pointer;
}
header a {
    text-decoration: none;
    color: white;
    font-weight:600;
    transition: 0.5s ease-in-out;
}
header a:hover {
    color: #edf2f4;
    transition: 0.5s ease-in-out;
}
header i {
    transition: 0.5s ease-in-out;
    color: white;
    cursor: pointer;
    font-size: 3rem;
    cursor: url("Link\ Select.cur"), pointer;
}
header i:nth-child(odd) {
    margin-left: 25px;
}
header i:hover {
    color: #edf2f4;
    transition: 0.5s ease-in-out;
}
footer i {
    cursor: url("Link\ Select.cur"), pointer;
}
#navbar {
    margin-top: 100px;
    position: fixed;
    right: 0;
    padding: 70px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 100vh;
    transform: translateX(300px);
    z-index: 10;
    transition: 0.5s ease-in-out;
}
#navbar.open {
    transition: 0.5s ease-in-out;
    transform: translateX(0px);
}
#navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'poppins';
}
#navbar li {
    margin-top: 25px;
}
#container {
    display: flex;
    font-family: 'roboto';
    margin-top: 100px;
}
#spans {
    height: 100px;
}
#left {
    width: 50%;
    color: white;
    padding-left: 55px;
    padding-top: 100px;
    vertical-align: middle;
}
#paragraf {
    margin-top: 40px;
    font-size: 1.25rem;
}
#paragraf p:nth-child(even) {
    margin-top: 20px;
}
#FNP {
    color: #341270;
} 
#right {
    height: 90vh;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 85%;
    height: 85%;
}
#buttons {
    display: flex;
}
button {
    border-radius: 30px;
    height: 60px;
    width: 200px;
    font-family: 'roboto';
    border: none;
    background-color: #47126b;
    font-size: 1.0rem;
    margin-top: 50px;
    box-shadow: 0px 0px 20px #7b2cbf;
}
button:nth-child(even) {
    margin-left: 50px;
}
footer {
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
}
footer a {
    color: white;
}
footer i {
    margin-left: 25px;
    font-size: 3rem;
}